/*:root {
    --main-black: #212121;
    --second-black: #000000;
    --main-blue: #2196f3;
    --background-grey: #2f303a;
    --main-white: #ffffff;
    --second-white: #f5f4fa;
    --main-grey: #757575;
} */
.none {
    display: none;
}
.container {
    padding: 0 15px;
    width: 1158x;
    max-width: 100%;
    margin: 0 auto;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}
a {
    text-decoration: none;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.highlight {
    color: var(--NAVY-BLUE, #2e2f42);
}
/*.head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}*/
.title {
    width: 115px;
    height: 24px;
}
.list {
    list-style: none;
}
.list-header {
    width: 261px;
    height: 24px;
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.list-address {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.list-second {
    height: 113px;
    width: 1128px;
    display: flex;
    list-style: none;
    margin: 0 auto;
    margin-bottom: 120px;
    margin-top: 111px;
    column-gap: 24px;
}

.address {
    color: var(--SLATE, #434455);
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.32px;
}
.address:hover {
    color: #404bbf;
}
.studio {
    color: var(--NAVY-BLUE, #2e2f42);
    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
}
.studio:hover {
    color: #404bbf;
}
.first {
    background: var(--NAVY-BLUE, #2e2f42);
    height: 600px;
    text-align: center;
}

.first-item {
    color: var(--WHITE, #fff);
    text-align: center;
    /* Header 1 */
    font-family: "Roboto";
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    width: 496px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 48px;
    padding-top: 188px;
}
.button {
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    color: var(--WHITE, #fff);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    padding: 16px 32px;
}
.button:hover {
    background: #404bbf;
}
.second-item {
    color: var(--NAVY-BLUE, #2e2f42);
    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}
.second-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.third {
    height: 732px;
    background: #f4f4fd;
}
.list-third {
    display: flex;
    list-style: none;
    margin-top: 72px;
    column-gap: 24px;
    justify-content: center;
}
.image-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    border-radius: 0 0 4px 4px;
    width: 264px;
    height: 380px;
}
.third-item {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    padding-top: 120px;
}
.fourth-item {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}
.name {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-top: 32px;
}
.name-description {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 32px;
}
.sign {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.sign-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.end {
    background: var(--NAVY-BLUE, #2e2f42);
}
.end-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
.highlight-end {
    color: var(--CLOUD, #f4f4fd);
}
